@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Public Sans', sans-serif;
    
}


.hambuger {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 1em;
    display: none;
}

.hambuger span {
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 
}

.hambuger:hover {
    opacity: 0.8;
}

.active {
    display: block;
}

.nav-list {
    display: flex;
    transition: 1s;
}
.close {
    display: none;
}

.intro-mobile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}

@media (max-width:767.9px){
    
    .hambuger{
        display: flex;
    }
    
        .nav-list {
            display: none;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            position: fixed;
            top: 0;
            right: 0;
            width: 50%;
            height: 100vh;
            background: hsl(220, 16%, 96%);
        }

    .active {
        display: flex;
    }
    .close {
        display: block;
        position: fixed;
        right: 1em;
        top: 1em;
        background: white;
        margin: 1em;
    }

    .intro-mobile{
        display: block;
    }

    #links .link2{
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }

    
}


